name: Build and Push to OCIR

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  REGISTRY: sa-saopaulo-1.ocir.io
  REPOSITORY: mateushenriquechaves1/rankingit
  IMAGE_NAME: rankingit-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to OCIR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: '${{ secrets.OCIR_USERNAME }}'
        password: '${{ secrets.OCIR_PASSWORD }}'

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest
          ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max